@tailwind base;
@tailwind components;
@tailwind utilities;

  
/* width */
::-webkit-scrollbar {
    width: 0.3em;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: white;
    border-radius: 1em;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}